apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "business-central.labels" . | nindent 4 }}
  name: {{ include "business-central.fullname" . }}
type: Opaque
data:
  {{- if .Values.password }}
  password: {{ .Values.password | b64enc | quote }}
  {{- else }}
  password: {{ randAlphaNum 10 | b64enc | quote }}
  {{- end }}

  {{- if .Values.securePassword }}
  securePassword: {{ .Values.securePassword | b64enc | quote }}
  {{- end }}

  {{- if .Values.database.password }}
  dbPassword: {{ .Values.database.password | b64enc | quote }}
  {{- end }}

  {{- if .Values.database.securePassword }}
  dbSecurePassword: {{ .Values.database.securePassword | b64enc | quote }}
  {{- end }}